<head> <link rel="stylesheet" href="/main.css"></head>
<form method="POST">

    <input type="text" name="item" value="<%=update.item%>">
    <input type="text" name="id" value="<%=update.id%>" hidden>
<button type="submit">Update</button>